@import "tailwindcss";
@plugin './hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));



html,
body {
  background-color: #025043;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}




/* CUSTOM FONTS */

@font-face {
  font-family: Expo-arabic;
  src: url('/public/fonts/Expo-Arabic-Book.ttf');
}

@font-face {
  font-family: Expo-bold;
  src: url('/public/fonts/Expo-Arabic-Bold.ttf');
}

@font-face {
  font-family: Expo-light;
  src: url('/public/fonts/Expo-Arabic-light.ttf');
}

@font-face {
  font-family: Expo-book;
  src: url('/public/fonts/Expo-Arabic-Book.ttf');
}

@font-face {
  font-family: Expo-medium;
  src: url('/public/fonts/Expo-Arabic-Medium.ttf');
}

@font-face {
  font-family: Asteroid;
  src: url('/public/fonts/Asteroid.ttf');
}

@font-face {
  font-family: Qanduchia;
  src: url('/public/fonts/Qanduchia.ttf');
}


.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}